* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #d2c8c8;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.intro,
.description {
    margin-bottom: 15px;
    line-height: 1.6;
}

.quiz-wrapper {
    display: flex;
    flex-wrap: wrap;              
    gap: 20px;
    margin-top: 20px;
}

.quiz-card {
    background-color: #bbafaf;
    border-radius: 8px;
    padding: 20px;
    width: calc(50% - 10px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.quiz-card:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    }
.quiz-card h3 {
    color: #1a73e8;
    margin-bottom: 10px;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}
.quiz-card h3:hover{
    color: #483ed1;
}

.quiz-card p {
    font-size: 14px;
    line-height: 1.5;
}
/* Responsive */
@media (max-width: 768px) {
    .quiz-card {
        width: 100%;
    }
}
